<main>


<div class="grid-container">
    <% notes.forEach(book => { %>
        <div class="grid-item">
            <a href="/edit-form/<%=book.id %>" class="edit-book-button">
                
                <img src="<%= book.cover_url %>" alt="<%= book.book_title %> cover" class="book-cover">

                <h3><%= book.book_title %> (<%= book.year %>)</h3>
                

                <h4><%= book.author %></h4>
                

                <p>Rating: <%= book.rating %>/5</p>
                

                <p>Genre: <%= book.genre %></p>
                

            </a>
        </div>
    <% }); %>
</form>




    

    

    